# Laravel
/blog-app-backend/vendor
/blog-app-backend/storage/*.key
/blog-app-backend/.env
/blog-app-backend/.env.production
# React
/react-blog-frontend/node_modules
/react-blog-frontend/.env
/react-blog-frontend/dist

# OS / IDE
.DS_Store
Thumbs.db
